.App {
  text-align: center;
  background-color: black;
}
body{
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{ color: #a9afc3;}
a {
  text-decoration: none;
  color: #fff;
}
ul li { color:#a9afc3; }
.home-banner{
  color: #fff;
  display: block;
  position: relative;
  top: 120px;
  margin-bottom: 120px;
}
.cart-count{
  height: 30px;
  width: 30px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;

}
